    [Unit]
    Description=etcd
    Documentation=https://github.com/etcd-io/etcd
    Conflicts=etcd.service
    Conflicts=etcd2.service

    [Service]
    Type=notify
    Restart=always
    RestartSec=5s
    LimitNOFILE=40000
    TimeoutStartSec=0

    ExecStart=/tmp/test-etcd/etcd --name $NAME \
    --data-dir /tmp/etcd/s1 \
    --listen-client-urls $CLIENT_URL \
    --advertise-client-urls $CLIENT_URL \
    --listen-peer-urls $PEER_URL \
    --initial-advertise-peer-urls $PEER_URL \
    --initial-cluster "$CLUSTER" \
    --initial-cluster-token tkn \
    --initial-cluster-state $CLUSTER_STATE \
    --client-cert-auth \
    --trusted-ca-file /tmp/ca-cert.pem \
    --cert-file /tmp/client-cert.pem \
    --key-file /tmp/client-key.pem \
    --peer-client-cert-auth \
    --peer-trusted-ca-file /tmp/ca-cert.pem \
    --peer-cert-file /tmp/server-cert.pem \
    --peer-key-file /tmp/server-key.pem

    [Install]
    WantedBy=multi-user.target
