[Unit]
Description=pebble
After=network.target

[Service]
ExecStart=/snap/k8s/current/bin/pebble run
Restart=always
RestartSec=2

# Must set environment here as well, since Docker ENV is not propagated to the service
Environment=SNAP=/snap/k8s/current
Environment=SNAP_REVISION=current
Environment=SNAP_COMMON=/var/snap/k8s/common
Environment=REAL_PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/k8s/current/bin
Environment=K8SD_RUNTIME_ENVIRONMENT=pebble

# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity
TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
