/parts/
/stage/
/prime/


**.snap
k8s_*.txt

**/__pycache__
.tox/
.venv

# ignore docs ephemerals

/docs/canonicalk8s/_build
/docs/canonicalk8s/.sphinx/venv/
/docs/canonicalk8s/.sphinx/warnings.txt
/docs/canonicalk8s/.sphinx/.wordlist.dic
/docs/canonicalk8s/.sphinx/.doctrees/
/docs/canonicalk8s/.sphinx/node_modules
/docs/canonicalk8s/.sphinx/styles/*
/docs/canonicalk8s/.sphinx/vale.ini

*.assert
.trivy
squashfs-root

subunit.html
subunit.out

.benchmark
