# Kubernetes API version
apiVersion: v1
# kind of the API object
kind: Config
# clusters refers to the remote service.
clusters:
  - name: k8s-token-auth-service
    cluster:
      insecure-skip-tls-verify: true
      server: https://{{ .WebhookIp }}:{{ .WebhookPort }}/1.0/kubernetes/auth/webhook # URL of remote service to query. 'https' recommended for production.

# users refers to the API server's webhook configuration.
users:
  - name: k8s-apiserver
    user: {}

# kubeconfig files require a context. Provide one for the API server.
current-context: webhook
contexts:
- context:
    cluster: k8s-token-auth-service
    user: k8s-apiserver
  name: webhook
