apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ .CaData }}
    server: https://{{ .ApiServerIp }}:{{ .ApiServerPort }}
  name: k8s
contexts:
- context:
    cluster: k8s
    user: k8s-user
  name: k8s
current-context: k8s
kind: Config
users:
- name: k8s-user
  user:
    token: {{ .Token }}
