1.1.1:     "permissions=600"
1.1.2:     "root:root"
1.1.3:     "permissions=600"
1.1.4:     "root:root"
1.1.5:     "permissions=600"
1.1.6:     "root:root"
1.1.7:     "permissions=600"
1.1.8:     "root:root"
1.1.9:     "permissions=600"
1.1.10:    "root:root"
1.1.11:    "permissions=700"
1.1.12:    "root:root"
1.1.13:    "permissions=600"
1.1.14:    "root:root"
1.1.15:    "permissions=600"
1.1.16:    "root:root"
1.1.17:    "permissions=600"
1.1.18:    "root:root"
1.1.19:    "root:root"
1.1.20:    "permissions=600"
1.1.21:    "permissions=600"
1.2.1:     "--anonymous-auth=false"
1.2.2:     "--token-auth-file is not set"
1.2.3:     "--enable-admission-plugins does not contain DenyServiceExternalIPs"
1.2.4:     "--kubelet-client-certificate=/etc/kubernetes/pki/apiserver-kubelet-client.crt and --kubelet-client-key=/etc/kubernetes/pki/apiserver-kubelet-client.key"
1.2.5:     "--kubelet-certificate-authority=/etc/kubernetes/pki/ca.crt"
1.2.6:     "--authorization-mode=Node,RBAC"
1.2.7:     "--authorization-mode=Node,RBAC"
1.2.8:     "--authorization-mode=Node,RBAC"
1.2.9:     "--enable-admission-plugins=NodeRestriction,EventRateLimit,AlwaysPullImages"
1.2.10:    "--enable-admission-plugins=NodeRestriction,EventRateLimit,AlwaysPullImages"
1.2.11:    "--enable-admission-plugins=NodeRestriction,EventRateLimit,AlwaysPullImages"
1.2.12:    "--enable-admission-plugins=NodeRestriction,EventRateLimit,AlwaysPullImages"
1.2.13:    "--disable-admission-plugins is not set"
1.2.14:    "--disable-admission-plugins is not set"
1.2.15:    "--enable-admission-plugins=NodeRestriction,EventRateLimit,AlwaysPullImages"
1.2.16:    "--secure-port=6443"
1.2.17:    "--profiling=false"
1.2.18:    "--audit-log-path=/var/log/apiserver/audit.log"
1.2.19:    "--audit-log-maxage=30"
1.2.20:    "--audit-log-maxbackup=10"
1.2.21:    "--audit-log-maxsize=100"
1.2.22:    "--request-timeout=300s"
1.2.23:    "--service-account-lookup is not set"
1.2.24:    "--service-account-key-file=/etc/kubernetes/pki/serviceaccount.key"
1.2.26:    "--tls-cert-file=/etc/kubernetes/pki/apiserver.crt and --tls-private-key-file=/etc/kubernetes/pki/apiserver.key"
1.2.27:    "--client-ca-file=/etc/kubernetes/pki/client-ca.crt"
1.2.28:    "--etcd-cafile=/etc/kubernetes/pki/etcd/ca.crt"
1.2.29:    "--encryption-provider-config is set"
1.2.30:    "--encryption-provider-config is one of or all of aescbc,kms,secretbox"
1.2.31:    "--tls-cipher-suites=TLS_AES_128_GCM_SHA256,TLS_AES_256_GCM_SHA384,TLS_CHACHA20_POLY1305_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256,TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256,TLS_RSA_WITH_3DES_EDE_CBC_SHA,TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_RSA_WITH_AES_256_GCM_SHA384"
1.3.1:     "--terminated-pod-gc-threshold=12500"
1.3.2:     "--profiling=false"
1.3.3:     "--user-service-account-credentials=true"
1.3.4:     "--service-account-private-key-file=/etc/kubernetes/pki/serviceaccount.key"
1.3.5:     "--root-ca-file=/etc/kubernetes/pki/ca.crt"
1.3.6:     "--feature-gates is not set"
1.3.7:     "---bind-address=127.0.0.1"
1.4.1:     "--profiling=false"
1.4.2:     "---bind-address=127.0.0.1"
2.4:       "certs-found"
2.5:       "0"
3.2.1:     "--audit-policy-file=/var/snap/k8s/common/etc/audit-policy.yaml"
4.1.1:     "permissions=600"
4.1.2:     "root:root"
4.1.3:     "permissions=600"
4.1.4:     "root:root"
4.1.5:     "permissions=600"
4.1.6:     "root:root"
4.1.7:     "permissions=600"
4.1.8:     "root:root"
4.1.9:     "permissions=600"
4.1.10:    "root:root"
4.2.1:     "--anonymous-auth=false"
4.2.2:     "--authorization-mode=Webhook"
4.2.3:     "--client-ca-file=/etc/kubernetes/pki/client-ca.crt"
4.2.4:     "--read-only-port=0"
4.2.5:     "--streaming-connection-idle-timeout is not set"
4.2.6:     "--protect-kernel-defaults=true"
4.2.7:     "--make-iptables-util-chains is not set, or set to a value greater or equal than 5m"
4.2.8:     "--hostname-override is set to false"
4.2.9:     "--event-qps is not set"
4.2.10:    "--tls-cert-file=/etc/kubernetes/pki/kubelet.crt and --tls-private-key-file=/etc/kubernetes/pki/kubelet.key"
4.2.11:    "--rotate-certificates is not set"
4.2.12:    "the RotateKubeletServerCertificate feature gate is not set"
4.2.13:    "--tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256"
