name: Charm e2e tests

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      arch:
        description: Job runner architecture (amd64 or arm64)
        default: amd64
        type: string
      # Download k8s-snap using either a GH action artifact or a snap channel.
      artifact:
        description: The name of a GH action artifact.
        type: string
      channel:
        description: k8s snap channel.
        type: string
      charm-channel:
        description: k8s charm channel.
        type: string
        default: latest/edge

jobs:
  charm-e2e-tests:
    name: Test ${{ inputs.arch }} ${{ inputs.artifact }}
    runs-on: ${{ inputs.arch == 'arm64' && 'self-hosted-linux-arm64-jammy-large' || 'self-hosted-linux-amd64-jammy-xlarge' }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Download k8s-snap
        id: download-snap
        uses: ./.github/actions/download-k8s-snap
        with:
          channel: ${{ inputs.channel }}
          artifact: ${{ inputs.artifact }}
      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.3
      - name: Install virtualenv
        run: sudo apt install -y python3.10-venv
      - name: Generate snap tarball
        run: |
          mkdir snap_installation
          mv ${{ steps.download-snap.outputs.snap-path }} snap_installation/k8s.snap
          tar cvzf snap_installation.tar.gz -C snap_installation/ .
      - name: Setup Astral UV
        uses: astral-sh/setup-uv@v6.4.1
        with:
          python-version: ${{ env.python-version }}
      - name: Install tox with UV
        run: uv tool install tox --with tox-uv
      - name: Install charmcraft
        run: |
          sudo snap install charmcraft --classic
      - name: Install juju
        run: |
          sudo snap install juju --classic
      - name: Download charms ${{ inputs.charm-channel }} ${{ inputs.arch }}
        run: |
          # The operator tests expect the charm file name to have the
          # ${charmName}_ prefix and include the arch and ubuntu base.
          # https://github.com/canonical/k8s-operator/blob/eba756ddc723e9aa5242c7804712807495356c6f/tests/integration/helpers.py#L334-L342

          # The charm base (e.g. ubuntu@22.04) must match the one used by other
          # related charms (e.g. ceph) used by the k8s-operator tests.
          arch=${{ inputs.arch }}
          k8sCharmFile=${GITHUB_WORKSPACE}/k8s_ubuntu-22.04-${arch}.charm
          k8sWorkerChamFile=${GITHUB_WORKSPACE}/k8s-worker_ubuntu-22.04-${arch}.charm

          juju download k8s \
            --channel ${{ inputs.charm-channel }} \
            --filepath $k8sCharmFile \
            --base ubuntu@22.04
          juju download k8s-worker \
            --channel ${{ inputs.charm-channel }} \
            --filepath $k8sWorkerChamFile \
            --base ubuntu@22.04
      - name: Bootstrap Juju controller (lxd)
        run: |
          juju bootstrap localhost lxd
      - uses: actions/checkout@v4
        with:
          repository: canonical/k8s-operator
          ref: ${{ github.base_ref || github.ref_name }}
          path: k8s-operator
      - name: Disable lxd ipv6
        run: |
          # The charm tests can't handle ipv6 dualstack.
          lxc network set lxdbr0 ipv6.address none
      - name: Run e2e tests
        run: |
          set -x

          arch=${{ inputs.arch }}
          k8sCharmFile=${GITHUB_WORKSPACE}/k8s_ubuntu-22.04-${arch}.charm
          k8sWorkerChamFile=${GITHUB_WORKSPACE}/k8s-worker_ubuntu-22.04-${arch}.charm
          snapInstallRes=${GITHUB_WORKSPACE}/snap_installation.tar.gz

          ls -lh $charmFile
          ls -lh $snapInstallRes

          cd k8s-operator

          tox -r -e integration \
            -- \
            --charm-file $k8sCharmFile \
            --charm-file $k8sWorkerChamFile \
            --snap-installation-resource $snapInstallRes \
            'tests/integration/test_k8s.py::test_nodes_ready'
