name: Documentation Checks

on:
  workflow_dispatch:

  pull_request:
    paths:
      - 'docs/**'
      - 'build-scripts/components/k8sd/**'
permissions:
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      file_list: ${{ steps.changes.outputs.changed_files }}
      repo: ${{ steps.changes.outputs.repo }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files list with git diff
        id: changes
        run: |
          # Fetch the base branch to ensure we have the history for the comparison
          git fetch origin ${{ github.event.pull_request.base.ref }}

          # Use git diff to find files changed between the base branch and the PR branch
          FILE_LIST=$(git diff --name-only origin/${{ github.event.pull_request.base.ref }}...HEAD -- 'docs/canonicalk8s/**/*.md' | \
            sed 's|^docs/canonicalk8s/||' | \
            xargs)

          REPO=${{github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name || github.repository }}

          # Pass the space-delimited list to the step output
          echo "Changed files: $FILE_LIST"
          echo "Repo for tests: $REPO"
          echo "changed_files=$FILE_LIST" >> $GITHUB_OUTPUT
          echo "repo=$REPO" >> $GITHUB_OUTPUT

  linkcheck:
    needs: prepare 
    uses: ./.github/workflows/linkcheck.yaml
    with:
      changed_files: ${{ needs.prepare.outputs.file_list }}
      repo: ${{ needs.prepare.outputs.repo }}
      ref: ${{ github.head_ref }}

  spellcheck-and-inclusive-language:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5

    - id: spell-check
      name: Spell Check
      if: success() || failure()
      uses: canonical/documentation-workflows/spellcheck@main
      with:
        working-directory: docs/canonicalk8s

    - name: Inclusive Language Check
      id: woke-step
      if: success() || failure()
      uses: canonical/documentation-workflows/inclusive-language@main
      with:
        working-directory: docs/canonicalk8s

  k8sd-api-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install Python dependencies
        run: pip install -r ci/requirements-ci.txt

      - name: Check k8sd API documentation
        run: python3 ci/k8s-ci.py docs update-k8sd-api
