name: Documentation Checks

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'docs/**'
permissions:
  contents: read

jobs:
  documentation-checks:
    #    uses: canonical/documentation-workflows/.github/workflows/documentation-checks.yaml@main
    #    with:
      #   working-directory: "docs/canonicalk8s"
      #  fetch-depth: 0
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5

      - id: spell-check
        name: Spell Check
        if: success() || failure()
        uses: canonical/documentation-workflows/spellcheck@main
        with:
          working-directory: docs/canonicalk8s

      - name: Inclusive Language Check
        id: woke-step
        if: success() || failure()
        uses: canonical/documentation-workflows/inclusive-language@main
        with:
          working-directory: docs/canonicalk8s




