name: Documentation Spelling Check

on:
  workflow_dispatch:
  # pull_request:
  #   paths:
  #     - 'docs/**'
permissions:
  contents: read

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - name: Install aspell
        run: sudo apt-get install aspell aspell-en
      - id: spell-check
        name: Spell Check
        run: make spelling
        working-directory: docs/canonicalk8s
        continue-on-error: true
      # - if: ${{ github.event_name == 'pull_request' && steps.spell-check.outcome == 'failure' }}
      #   uses: actions/github-script@v6
      #   with:
      #     script: |
      #       github.rest.issues.createComment({
      #         issue_number: context.issue.number,
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         body: 'Hi, looks like pyspelling job found some issues, you can check it [here](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})'
      #       })
