name: End to End Tests

on:
  push:
    branches: [main, autoupdate/strict]
  pull_request:
    branches: [main]

jobs:
  build-sbom:
    name: Build SBOM
    runs-on: ubuntu-latest

    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip3 install -r ./build-scripts/hack/requirements.txt
      - name: Build SBOM
        run: |
          ./build-scripts/hack/generate-sbom.py sbom.tar.gz
      - name: Upload SBOM
        uses: actions/upload-artifact@v3
        with:
          name: sbom.tar.gz
          path: sbom.tar.gz

  build:
    name: Build
    runs-on: ubuntu-20.04

    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Install lxd
        run: |
          sudo lxd init --auto
          sudo usermod --append --groups lxd $USER
          sg lxd -c 'lxc version'
      - name: Install snapcraft
        run: |
          sudo snap install snapcraft --classic
      - name: Build snap
        run: |
          sg lxd -c 'snapcraft --use-lxd'
          mv k8s_*.snap k8s.snap
      - name: Uploading snap
        uses: actions/upload-artifact@v3
        with:
          name: k8s.snap
          path: k8s.snap

  test-e2e:
    name: Test ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu:20.04", "ubuntu:22.04"]
    runs-on: ubuntu-20.04
    needs: build

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install tox
        run: pip install tox
      - name: Install lxd
        run: |
          sudo snap refresh lxd --channel 5.19/stable
          sudo lxd init --auto
          sudo usermod --append --groups lxd $USER
          sg lxd -c 'lxc version'
      - name: Download snap
        uses: actions/download-artifact@v3.0.2
        with:
          name: k8s.snap
          path: build
      - name: Run end to end tests
        run: |
          export TEST_SNAP="$PWD/build/k8s.snap"
          export TEST_SUBSTRATE=lxd
          export TEST_LXD_IMAGE=${{ matrix.os }}
          cd tests/e2e && sg lxd -c 'tox -e e2e'
