name: "Docs: Markdown lint"

on: [push, pull_request]

permissions:
  contents: read

jobs:
  markdown-lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@v44
        id: changed-markdown-files
        with:
          files: |
            docs/**/*.md
          files_ignore: |
            docs/src/_parts/**
      - uses: DavidAnson/markdownlint-cli2-action@v16
        if: steps.changed-markdown-files.outputs.any_changed == 'true'
        with:
          config: "docs/src/.markdownlint.json"
          globs: ${{ steps.changed-markdown-files.outputs.all_changed_files }}
          separator: ","
