name: Auto-update moonray branch

on:
  push:
    branches:
      - main
  # TODO: remove before merge
  pull_request:

permissions:
  contents: read

jobs:
  update:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-22.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - name: Sync ${{ github.ref }} to autoupdate/moonray
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY_TO_UPDATE_STRICT_BRANCH }}
      - name: Apply moonray patch
        run: |
          git checkout -b autoupdate/moonray
          ./build-scripts/patches/moonray/apply
      - name: Push to autoupdate/moonray
        run: |
          git push origin --force autoupdate/moonray
