name: Nightly

on:
  schedule:
    - cron: "0 0 * * *" # Runs every midnight
  pull_request:
    paths:
      - .github/workflows/e2e-tests.yaml
      - .github/workflows/nightly-test.yaml
      - .github/workflows/security-scan.yaml

permissions:
  contents: read

jobs:
  test-integration:
    name: Integration
    strategy:
      matrix:
        os: ["ubuntu:22.04", "ubuntu:24.04"]
        arch: ["amd64", "arm64"]
        channel: ["latest/edge"]
      fail-fast: false # TODO: remove once we no longer have flaky tests.
    uses: ./.github/workflows/e2e-tests.yaml
    with:
      arch: ${{ matrix.arch }}
      os: ${{ matrix.os }}
      channel: ${{ matrix.channel }}
      test-tags: 'up_to_nightly'

  Trivy:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    strategy:
      matrix:
        include:
          # Latest branches
          - { branch: main, channel: latest/edge }
          # Stable branches
          # Add branches to test here
          # TODO: automatically retrieve the list of channels.
          - { branch: release-1.32, channel: 1.32-classic/edge }
    uses: ./.github/workflows/security-scan.yaml
    with:
      channel: ${{ matrix.channel }}
      checkout-ref: ${{ matrix.branch }}
      upload-reports-to-jira: true
    secrets: inherit

  TICS:
    if: ${{ always() && github.event_name == 'schedule' }}
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { branch: main }
    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Save tics-scan.sh script
        run: |
          # We'll need to scan other branches, let's create a copy of
          # the TICS scan script.
          cp tests/tics-scan.sh /tmp/tics-scan.sh
      - name: Checking out tested repo branch
        uses: actions/checkout@v4
        with:
          ref: ${{matrix.branch}}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: './src/k8s/go.mod'
      - name: go mod download
        working-directory: src/k8s
        run: go mod download
      - name: TICS scan
        run: |
          export TICSAUTHTOKEN=${{ secrets.TICSAUTHTOKEN }}
          /tmp/tics-scan.sh `pwd`

  Mattermost:
    name: Notify Mattermost
    # Notify on success or failure but only if the event is a scheduled run.
    # We don't want to ping people of failed PRs.
    if: ${{ always() && github.event_name == 'schedule' }}
    # Note: Update results check below if you change the "needs" list.
    needs: [test-integration, Trivy, TICS]
    runs-on: ubuntu-latest
    steps:
      - name: Set current formatted date as env variable
        run: echo "FORMATTED_DATE=$(date +'%d/%m/%Y')" >> $GITHUB_ENV
      - name: Test results
        run: |
          RESULTS=$(echo '${{ toJson(needs) }}' | jq -c '[.[] | .result]')

          if echo $RESULTS | jq -e 'all(. == "success")'; then
            echo "RESULT=success" >> $GITHUB_ENV
          else
            echo "RESULT=failure" >> $GITHUB_ENV
          fi
      - name: Generate Mattermost Message
        run: |
          if [[ "${{ env.RESULT }}" == "success" ]]; then
            echo "MM_TEXT=:white_check_mark: *Success!* CI completed successfully. [View Run](${{
              github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" >> $GITHUB_ENV
          else
            echo "MM_TEXT=:x: *Failure!* CI failed, @k8s-engineers please fix ASAP. [View Run](${{
              github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" >> $GITHUB_ENV
          fi
      - name: Notify Mattermost
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_BOT_WEBHOOK_URL }}
          PAYLOAD: |
            {
              "attachments": [
                {
                  "fallback": "k8s-snap Nightly CI Status",
                  "color": "${{ env.RESULT == 'success' && 'good' || 'danger' }}",
                  "title": "k8s-snap Nightly CI Status - ${{ env.FORMATTED_DATE }}",
                  "text": "${{ env.MM_TEXT }}"
                }
              ]
            }
