name: Security scan

permissions:
  contents: read  # for actions/checkout to fetch code

on:
  workflow_call:
    inputs:
      # Download k8s-snap using either a GH action artifact or a snap channel.
      artifact:
        description: The name of a GH action artifact.
        type: string
      channel:
        description: k8s snap channel.
        type: string
      checkout-ref:
        description: k8s-snap git checkout ref, optional.
        type: string
      upload-reports-to-jira:
        description: Whether to send the security vulnerabilities to Jira or not.
        required: false
        type: boolean
        default: false

jobs:
  security-scan:
    permissions:
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
    name: Security scan
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          # We run into rate limiting issues if we don't authenticate
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Need to fetch the GH actions first.
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Save trivy-scan.sh script
        run: |
          # We'll need to scan other branches, let's create a copy of
          # the Trivy scan script.
          cp tests/trivy-scan.sh $GITHUB_WORKSPACE/trivy-scan.sh
      - name: Download k8s-snap
        id: download-snap
        uses: ./.github/actions/download-k8s-snap
        with:
          channel: ${{ inputs.channel }}
          artifact: ${{ inputs.artifact }}
      - name: Checking out tested repo branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkout-ref }}
          # Persist downloaded artifacts
          clean: 'false'
      - name: Run Trivy vulnerability scanner
        run: |
          cp $GITHUB_WORKSPACE/trivy-scan.sh ./tests/trivy-scan.sh
          ./tests/trivy-scan.sh ${{ steps.download-snap.outputs.snap-path }}
      - name: Upload SARIF files
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ./.trivy/sarifs/trivy-k8s-repo-scan--results.sarif
      - name: Send vulnerability records
        if: ${{ inputs.upload-reports-to-jira == true }}
        uses: canonical/k8s-workflows/.github/actions/send-cve-reports@main
        with:
          reports: "./.trivy/sarifs/trivy-k8s-repo-scan--results.sarif,./.trivy/sarifs/snap.sarif"
          jira-url: ${{ secrets.CVE_JIRA_WEBHOOK_URL }}
          jira-auth-token: ${{ secrets.CVE_JIRA_WEBHOOK_TOKEN }}
          minimum-level: "HIGH"
          bump-cisa-cves: true
