name: Trivy Security Scan

on:
  schedule:
    - cron: "0 0 * * *" # Runs every midnight
  pull_request:
    paths:
      - .github/workflows/security-scan.yaml
      - .github/workflows/trivy.yaml

permissions:
  contents: read
  actions: read

jobs:
  Trivy:
    permissions:
     contents: read # for actions/checkout to fetch code
     # security-events: write is required for github/codeql-action/upload-sarif to upload SARIF results
     security-events: write
    strategy:
      matrix:
        include:
          # Latest branches
          - { branch: main, channel: latest/edge }
          # Stable branches
          # Add branches to test here
          # TODO: automatically retrieve the list of channels.
          - { branch: release-1.32, channel: 1.32-classic/edge }
          - { branch: release-1.33, channel: 1.33-classic/edge }
          - { branch: release-1.34, channel: 1.34-classic/edge }
          - { branch: release-1.35, channel: 1.35-classic/edge }
    uses: ./.github/workflows/security-scan.yaml
    with:
      channel: ${{ matrix.channel }}
      checkout-ref: ${{ matrix.branch }}
      upload-reports-to-jira: true
    secrets: inherit
