name: Weekly

on:
  schedule:
    - cron: "0 0 * * 6" # Runs every saturday at midnight
  pull_request:
    paths:
      - .github/workflows/weekly-test.yaml
permissions:
  contents: read
  actions: read

jobs:
  test-on-fips:
    name: Integration tests on FIPS machine
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu:24.04"]
        arch: ["amd64"]
        channel: ["latest/edge"]
        include:
            - os: "ubuntu:22.04"
              series: "jammy"
            - os: "ubuntu:24.04"
              series: "noble"
    uses: ./.github/workflows/e2e-tests.yaml
    with:
      arch: ${{ matrix.arch }}
      os: ${{ matrix.os }}
      channel: ${{ matrix.channel }}
      test-tags: 'up_to_weekly'
      substrate: 'lxd'
      runner-tags: '{"all": ["self-hosted-linux-${{ matrix.arch }}-${{ matrix.series }}-medium-fips"]}'
      required-snaps: '{"core22": "fips-updates/stable"}'
      extra-test-env: 'TEST_ENABLE_DISA_STIG_HOST=1,TEST_PRELOADED_SNAPS=snapd,TEST_DISA_STIG_USG_TAILORING_FILE_PATH=$GITHUB_WORKSPACE/tests/integration/templates/disa_stig/usg-tailoring-${{ matrix.series }}.xml'
    secrets:
      UBUNTU_PRO_TOKEN: ${{ secrets.UBUNTU_PRO_TOKEN }}
      LAUNCHPAD_K8S_CI_BOT_PASSWORD: ${{ secrets.LAUNCHPAD_K8S_CI_BOT_PASSWORD }}
